<div *ngIf="contact" class="row">
  <div class="col-md-12">
    <h2 *ngIf="contact._id">Contact Details</h2>
    <h2 *ngIf="!contact._id">New Contact</h2>
  </div>
</div>
<div *ngIf="contact" class="row">
  <form class="col-md-12">
    <div class="form-group">
      <label for="contact-name">Name</label>
      <input class="form-control" name="contact-name" [(ngModel)]="contact.name" placeholder="Name"/>
    </div>
    <div class="form-group">
      <label for="contact-email">Email</label>
      <input class="form-control" name="contact-email" [(ngModel)]="contact.email" placeholder="support@mlab.com"/>
    </div>
    <div class="form-group">
      <label for="contact-phone">Phone</label>
      <input class="form-control" name="contact-phone" [(ngModel)]="contact.phone" placeholder="1234567890"/>
    </div>
    <div class="form-group">
      <label for="contact-address">Address</label>
      <input class="form-control" name="contact-address" [(ngModel)]="contact.address" placeholder="0123456789"/>
    </div>
    <div class="form-group">
      <label for="contact-active">Active</label>
      <input class="form-control" name="contact-active" [(ngModel)]="contact.active" placeholder="0123456789"/>
    </div>
    <div class="form-group">
      <label for="contact-role">Role</label>
      <input class="form-control" name="contact-role" [(ngModel)]="contact.role" placeholder="0123456789"/>
    </div>
    <div class="form-group">
      <label for="contact-comment">Comment</label>
      <input class="form-control" name="contact-comment" [(ngModel)]="contact.comment" placeholder="0123456789"/>
    </div>
    <button class="btn btn-primary" *ngIf="!contact._id" (click)="createContact(contact)">Create</button>
    <button class="btn btn-info" *ngIf="contact._id" (click)="updateContact(contact)">Update</button>
    <button class="btn btn-danger" *ngIf="contact._id" (click)="deleteContact(contact._id)">Delete</button>
  </form>
</div>
